body {
  margin: auto;
  font-family: Helvetica;
  text-align: center;
}
ul {
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  pading: 0;
}
.bold {
  font-weight: bold;
}
.white {
  color: white;
}
h1 {
  font-size: 70px;
}
.image {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}
a {
  color: white;
}
h3 {
  font-size: 23;
}
.footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
